<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <a class="navbar-brand" routerLink="">Quiz App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="manageQuestions">Manage Question</a>
      </li>
    </ul>
  </div>
  <div class="navbar-form navbar-right">
    <a class="text-light" [routerLink]="'/'"><strong>{{childData}}</strong></a>
  </div>
</nav>


<!-- this test is to check if i am not in the home page i will not show the home component-->
<div [hidden]="hideElement">
  <app-home (childEvent)="childData=$event"></app-home>
</div>