<div id="quiz">
  <h2 class="text-center font-weight-normal font-weight-bold text-warning">java script quiz</h2>
  <hr />
  <div *ngIf="mode=='quiz'">
    <div class="container-fluid ">
      <div class="modal-dialog">
        <div class="modal-content">
          <div *ngFor="let question of filteredQuestions;">
            <div class="badge badge-info">Question {{pager.index + 1}} of {{pager.count}}.</div>
            <div *ngIf="duration" class="badge badge-info float-right">Time: {{ellapsedTime}} / {{duration}}</div>
            <div class="modal-header">
              <h3><span class="label label-warning" id="qid">{{pager.index + 1}}.</span>{{question.name}}</h3>
            </div>
            <div class="modal-body">
              <div class="col-xs-3 col-xs-offset-5">

                <div class="quiz" id="quiz" *ngFor="let option of question.options">
                  <label class="element-animation1 btn btn-lg btn-primary btn-block" [attr.for]="option.id">
                    <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
                    <input id="{{option.id}}" type="checkbox" [(ngModel)]="option.selected"
                      (change)="onSelect(question, option);" /> {{option.name}}
                  </label>
                </div>

              </div>

              <hr />
              <div class="text-center">
                <button class="btn btn-default" *ngIf="allowBack" (click)="goTo(0);">First</button>
                <button class="btn btn-default" *ngIf="allowBack" (click)="goTo(pager.index - 1);">Previous</button>
                <button class="btn btn-primary" (click)="goTo(pager.index + 1);">Next</button>
                <button class="btn btn-default" *ngIf="allowBack" (click)="goTo(pager.count - 1);">Last</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="result" *ngIf="mode=='result'">
  <div class="row">
    <div class="col">
      <h2 class="font-weight-bold text text-primary">Quiz Result</h2>
    </div>
    <div class="col">
      <button class="btn btn-success btn-lg float-right" (click)="GoBack();">Go Back</button>
    </div>
  </div>

  <div *ngFor="let question of listQuestions; let index = index">
    <div class="container-fluid ">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3><span class="label label-warning" id="qid">{{index + 1}}.</span>{{question.name}}</h3>
          </div>
          <div class="modal-body">
            <div class="col-xs-3 col-xs-offset-5">
              <div class="quiz" id="quiz" *ngFor="let Option of question.options">
                <label class="element-animation1 btn btn-lg btn-primary btn-block">
                  <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
                  <input id="{{Option.id}}" type="checkbox" disabled="disabled" [(ngModel)]="Option.selected" />
                  {{Option.name}}
                </label>
              </div>
            </div>
          </div>
          <div class="p-1 m-2 alert {{ isCorrect(question) == 'correct'? 'alert-success': 'alert-danger'}}">Your answer
            is
            {{isCorrect(question)}}.</div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
<div *ngIf="mode!='result'">
  <div class="text text-center">
    <button class="btn btn-success btn-lg" (click)="onSubmit();">Submit Quiz</button>
  </div>

</div>